{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}

    <h1>Facturas Semanal</h1>
     <ul>
        <li>
            <a href="{{ path('factura_new') }}">
                Crear Factura
            </a>
        </li>
    </ul>
        <div id="informacion">

        <table class="table table-striped table-bordered bootstrap-datatable datatable">


        <thead>
            <tr>
                <th>Empelado</th>
                <th>Fecha</th>
                <th>Pago</th>
                <th>Valor</th>
                <th>Estado</th>

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>

                 <td>{{ entity.empleado }}</td>
              
                <td>{{ entity.fecha }}</td>
                

                    <td>{{ entity.pago }}</td>
                
                <td>{{ entity.valor }}</td>
                
                <td>{{ entity.pago }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('pagar') }}">
               Pagar Todo
            </a>
        </li>
    </ul>
       </div>


    {% endblock %}
