{% extends 'GlavBundle::layoutAdmin.html.twig' %}


{% block infoUserTop %}
    <h1>Tipos de Servicio</h1>
<ul>
        <li>
            <a href="{{ path('tiporubro_new') }}">
                Crear Tipo de Servicio
            </a>
        </li>
    </ul>
     <table class="table table-striped table-bordered bootstrap-datatable datatable">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tiporubro_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.estado }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>
               <ul>
                    <a class="btn btn-success" href="{{ path('tiporubro_show', { 'id': entity.id }) }}">
                <i class="halflings-icon white zoom-in"></i>  
                </a>
                <a class="btn btn-info" href="{{ path('tiporubro_edit', { 'id': entity.id }) }}">
                <i class="halflings-icon white edit"></i>  
                </a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tiporubro_new') }}">
                Crear Tipo de Servicio
            </a>
        </li>
    </ul>
    {% endblock %}
