{% extends 'GlavBundle::layoutAdmin.html.twig' %}


{% block infoUserTop %}
    <h1>TipoRubro list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hash</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tiporubro_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.hash }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.estado }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tiporubro_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tiporubro_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tiporubro_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
