{% extends 'frontend.html.twig' %}  

        {% block User %}
        
        {% endblock %}

    {% block menu %}
    
      {% if is_granted("ROLE_SUPER_ADMIN") %}
     <ul class="nav nav-tabs nav-stacked main-menu">
		    <li><a href="{{path('cargo')}}"><i class="icon-tablet"></i><span class="hidden-tablet"> Cargo</span></a></li>
            <li><a href="{{path('empleado')}}"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Empleado</span></a></li>	
            <li><a href="{{path('cliente')}}"><i class="icon-user"></i><span class="hidden-tablet"> Cliente</span></a></li>
                         <li><a href="{{path('tiporubro')}}"><i class="icon-fire"></i><span class="hidden-tablet"> Tipo de Servicio</span></a></li>
            <li><a href="{{path('rubro')}}"><i class="icon-list"></i><span class="hidden-tablet"> Servicios</span></a></li>
                        <li><a href="{{path('tipoautomotor')}}"><i class="icon-cog"></i><span class="hidden-tablet"> Tipo de Automotor</span></a></li>
            <li><a href="{{path('automotor')}}"><i class="icon-road"></i><span class="hidden-tablet"> Automotor</span></a></li>
            <li><a href="{{path('servicio')}}"><i class="icon-inbox"></i><span class="hidden-tablet">Registrar Servicio</span></a></li>	
               <li><a href="{{path('prestamo')}}"><i class="icon-thumbs-up"></i><span class="hidden-tablet"> prestamo</span></a></li>
            
            <li><a href="{{path('factura')}}"><i class="icon-envelope"></i><span class="hidden-tablet"> Facturas</span></a></li>
           <li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Informes</span><span class="label label-important"> 3 </span></a>
							<ul>
								<li><a class="submenu" href="{{path('informe')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Empleados</span></a></li>
								<li><a class="submenu" href="{{path('semanal_empleado')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Pagos Semana</span></a></li>
								<li><a class="submenu" href="{{path('excel')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Excel </span></a></li>
							</ul>	
						</li>
 
            		</ul>
                    
                    
  {% elseif is_granted("ROLE_USER") %}  
  
          <ul class="nav nav-tabs nav-stacked main-menu">

            <li><a href="{{path('cliente')}}"><i class="icon-user"></i><span class="hidden-tablet"> Cliente</span></a></li>
            <li><a href="{{path('automotor')}}"><i class="icon-road"></i><span class="hidden-tablet"> Automotor</span></a></li>
            <li><a href="{{path('servicio')}}"><i class="icon-inbox"></i><span class="hidden-tablet"> Registrar Servicios</span></a></li>	   
            <li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Informes</span><span class="label label-important"> 3 </span></a>
							<ul>
								<li><a class="submenu" href="{{path('informe')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Empleados</span></a></li>
								<li><a class="submenu" href="{{path('semanal_empleado')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Pagos Semana</span></a></li>
								<li><a class="submenu" href="{{path('excel')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Excel </span></a></li>
							</ul>	
						</li>

					</ul>
  
  {% else %}  
  
           <ul class="nav nav-tabs nav-stacked main-menu">
		    <li><a href="{{ path('fos_user_security_login') }}"><i class="icon-tablet"></i><span class="hidden-tablet"> Iniciar Sesión</span></a></li>
            <li><a href="{{path('cliente_consultar')}}"><i class="icon-bar-chart"></i><span class="hidden-tablet">Consultar Factura</span></a></li>	
            <li><a href="{{path('cliente')}}"><i class="icon-user"></i><span class="hidden-tablet">Ayuda</span></a></li>
		</ul>

  
  {% endif %}



    {% endblock %}
    {% block infoUserTop %}
            {{ block('fos_user_content') }}
    {% endblock %}