{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}
    <h1>Factura list</h1>
    Buscar por Cliente
    <div id="informacion">
    <input type="text" id="cliente" name="cliente">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Total</th>
                <th>Cliente</th>
                <th>Observacion</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('factura_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.total }}</td>
                <td>{{ entity.cliente }}</td>
                <td>{{ entity.observacion }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('factura_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('factura_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('factura_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    
    <script type="text/javascript">

window.onload = function() {

$('#cliente').change(function () {

        cliente = $('#cliente').val();
        alert(cliente);
        $('#informacion').load('{{ path('factura_buscar_cliente') }}',{cliente:cliente},function()
            {
            });
        
        
});

}
</script>
    {% endblock %}
