{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}

    <h1>Registros de Factura</h1>
     <ul>
        <li>
            <a href="{{ path('factura_new') }}">
                Crear Factura
            </a>
        </li>
    </ul>
    {# Buscar por Cliente
    <input type="text" id="cliente" name="cliente"> #}
        <div id="informacion">

        <table class="table table-striped table-bordered bootstrap-datatable datatable">


        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Total</th>
                <th>Cliente</th>
                <th>Observacion</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('factura_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
               
                {% if entity.username is not defined %}
                {% else %}
                 <td>{{ entity.username }}</td>
                {% endif %}
                <td>{{ entity.total }}</td>
                
                {% if entity.cliente is not defined %}
                {% else %}
                    <td>{{ entity.cliente }}</td>
                {% endif %}
                
                <td>{{ entity.observacion }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    
                <a class="btn btn-success" href="{{ path('factura_show', { 'id': entity.id }) }}">
                <i class="halflings-icon white zoom-in"></i>  
                </a>
                <a class="btn btn-info" href="{{ path('factura_edit', { 'id': entity.id }) }}">
                <i class="halflings-icon white edit"></i>  
                </a>
               
               
                     <li>
                        <a href="{{ path('factura_imprimir', { 'id': entity.id }) }}">PDF</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('factura_new') }}">
                Crear Factura
            </a>
        </li>
    </ul>
       </div>


    {% endblock %}
