{% extends 'GlavBundle::layoutAdmin.html.twig' %}


{% block infoUserTop %}
<form id="factura" action="{{ path('factura_guardar') }}" method="post" enctype="multipart/form-data" >

    <h1>Factura creation</h1>
<input type="hidden" id="usuario" name="usuario" value="{{ app.user.id }}">

    {{ form_widget(formF) }}
    <div id="informacion">
        <input type="hidden" id="neto" name="neto">
        <input type="hidden" id="total" name="total">
    </div>
    {{ form_widget(form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('factura') }}">
        
            <input type="submit" value="Guardar"/>
            Back to the list
        </a>
    </li>
</ul>

</form>


{% endblock %}
