{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Prestamo Registrado</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Hash</th>
                <td>{{ entity.hash }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ entity.valor }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ entity.observacion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('prestamo') }}">
            Volver a la Lista
        </a>
    </li>
    <li>
        <a href="{{ path('prestamo_edit', { 'id': entity.id }) }}">
            Editar Registro Prestamo
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
