{#% extends 'GlavBundle::layoutIndex.html.twig' %#}
{% extends 'frontend.html.twig' %}  

{% block menu %}
  {% if is_granted("ROLE_SUPER_ADMIN") %}

        <ul class="nav nav-tabs nav-stacked main-menu">
		    <li><a href="{{path('cargo')}}"><i class="icon-tablet"></i><span class="hidden-tablet"> Cargo</span></a></li>
            <li><a href="{{path('empleado')}}"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Empleado</span></a></li>	
            <li><a href="{{path('cliente')}}"><i class="icon-user"></i><span class="hidden-tablet"> Cliente</span></a></li>
                         <li><a href="{{path('tiporubro')}}"><i class="icon-fire"></i><span class="hidden-tablet"> Tipo de Rubro</span></a></li>
            <li><a href="{{path('rubro')}}"><i class="icon-list"></i><span class="hidden-tablet"> Rubro</span></a></li>
                        <li><a href="{{path('tipoautomotor')}}"><i class="icon-cog"></i><span class="hidden-tablet"> Tipo de Automotor</span></a></li>
            <li><a href="{{path('automotor')}}"><i class="icon-road"></i><span class="hidden-tablet"> Automotor</span></a></li>
            <li><a href="{{path('servicio')}}"><i class="icon-inbox"></i><span class="hidden-tablet"> Servicio</span></a></li>	
            <li><a href="{{path('factura')}}"><i class="icon-envelope"></i><span class="hidden-tablet"> Facturas</span></a></li>
           <li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Informes</span><span class="label label-important"> 3 </span></a>
							<ul>
								<li><a class="submenu" href="{{path('informe')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Empleados</span></a></li>
								<li><a class="submenu" href="{{path('semanal_empleado')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Pagos Semana</span></a></li>
								<li><a class="submenu" href="{{path('excel')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Excel </span></a></li>
							</ul>	
						</li>
 
            		</ul>
                                     
  {% elseif is_granted("ROLE_USER") %}  
  
    <ul class="nav nav-tabs nav-stacked main-menu">

            <li><a href="{{path('cliente')}}"><i class="icon-user"></i><span class="hidden-tablet"> Cliente</span></a></li>
            <li><a href="{{path('automotor')}}"><i class="icon-road"></i><span class="hidden-tablet"> Automotor</span></a></li>
            <li><a href="{{path('servicio')}}"><i class="icon-inbox"></i><span class="hidden-tablet"> Servicio</span></a></li>	   
            <li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Informes</span><span class="label label-important"> 3 </span></a>
							<ul>
								<li><a class="submenu" href="{{path('informe')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Empleados</span></a></li>
								<li><a class="submenu" href="{{path('semanal_empleado')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Pagos Semana</span></a></li>
								<li><a class="submenu" href="{{path('excel')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Excel </span></a></li>
							</ul>	
						</li>

					</ul>
  
  {% else %}  
  
              <ul class="nav nav-tabs nav-stacked main-menu">
		    <li><a href="{{ path('fos_user_security_login') }}"><i class="icon-tablet"></i><span class="hidden-tablet"> Iniciar Sesión</span></a></li>
            <li><a href="{{path('empleado')}}"><i class="icon-bar-chart"></i><span class="hidden-tablet">Consultar Factura</span></a></li>	
            <li><a href="{{path('cliente')}}"><i class="icon-user"></i><span class="hidden-tablet">Ayuda</span></a></li>
		</ul>

  {% endif %}
  
  {% endblock %}

    {% block infoUserTop %}






<div class="row-fluid">
				
				<div class="widget blue span5" ontablet="span6" ondesktop="span5">
					
					<h2><span class="glyphicons globe"><i></i></span> Servicios </h2>
					
					<hr>
					
					<div class="content">
						
						<div class="verticalChart">
							
                    {% for entity in entities %}

							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value" style="height: {{ entity.servicios }}%;">
										<span style="color: rgb(87, 142, 190); display: inline;">{{ entity.servicios }}%</span>
									</div>
								
								</div>
								
								<div class="title">{{ entity.nombre }}</div>
							
							</div>
							
		            {% endfor %}
							
							
							<div class="clearfix"></div>
							
						</div>
					
					</div>
					
				</div><!--/span-->
				
				

            <div class="sparkLineStats span4 widget green" ontablet="span5" ondesktop="span4">

                    <ul class="unstyled">
                        
                {% for empleados in empleado %}

                        
                        <li><span class="sparkLineStats3"><canvas width="80" height="40" style="display: inline-block; width: 80px; height: 40px; vertical-align: top;"></canvas></span> 
                           {{ empleados.nombre }}
                            <span class="number">{{ empleados.total }}</span>
                        </li>
                        
                 {% endfor %}
                        
                       

                    </ul>
					
					<div class="clearfix"></div>

                </div>
    
			</div>
            
            

         <div class="row-fluid">	


            <a class="quick-button metro yellow span2">
                            <i class="icon-group"></i>
                            <p>Clientes</p>
                            <span class="badge">{{ cliente }}</span>
                        </a>
            <a class="quick-button metro blue span2">
                            <i class="icon-shopping-cart"></i>
                            <p>Automotores</p>
                            <span class="badge">{{ automotor }}</span>
                        </a>


            <a class="quick-button metro green span2">
					<i class="icon-barcode"></i>
					<p>Rubros</p>
                <span class="badge">{{ rubro }}</span>
				</a>

                <a class="quick-button metro pink span2">
					<i class="icon-envelope"></i>
					<p>Facturas</p>
					<span class="badge">{{ factura }}</span>
				</a>
            

            </div>

            
            
                
                

    {% endblock %}