{% extends 'GlavBundle::layoutIndex.html.twig' %}

{% block menu %}
  {% if is_granted("ROLE_SUPER_ADMIN") %}


        <ul class="nav nav-tabs nav-stacked main-menu">
		    <li><a href="{{path('cargo')}}"><i class="icon-tablet"></i><span class="hidden-tablet"> Cargo</span></a></li>
            <li><a href="{{path('empleado')}}"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Empleado</span></a></li>	
            <li><a href="{{path('cliente')}}"><i class="icon-user"></i><span class="hidden-tablet"> Cliente</span></a></li>
                         <li><a href="{{path('tiporubro')}}"><i class="icon-fire"></i><span class="hidden-tablet"> Tipo de Rubro</span></a></li>
            <li><a href="{{path('rubro')}}"><i class="icon-list"></i><span class="hidden-tablet"> Rubro</span></a></li>
                        <li><a href="{{path('tipoautomotor')}}"><i class="icon-cog"></i><span class="hidden-tablet"> Tipo de Automotor</span></a></li>
            <li><a href="{{path('automotor')}}"><i class="icon-road"></i><span class="hidden-tablet"> Automotor</span></a></li>
            <li><a href="{{path('servicio')}}"><i class="icon-inbox"></i><span class="hidden-tablet"> Servicio</span></a></li>	
            <li><a href="{{path('factura')}}"><i class="icon-envelope"></i><span class="hidden-tablet"> Facturas</span></a></li>
           <li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Informes</span><span class="label label-important"> 3 </span></a>
							<ul>
								<li><a class="submenu" href="{{path('informe')}}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Empleados</span></a></li>
								<li><a class="submenu" href="submenu2.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Mensuales</span></a></li>
								<li><a class="submenu" href="submenu3.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Totales </span></a></li>
							</ul>	
						</li>
 
            		</ul>
                    
                    
  {% elseif is_granted("ROLE_USER") %}  
  
          <ul class="nav nav-tabs nav-stacked main-menu">

            <li><a href="{{path('cliente')}}"><i class="icon-user"></i><span class="hidden-tablet"> Cliente</span></a></li>
            <li><a href="index.html"><i class="icon-road"></i><span class="hidden-tablet"> Automotor</span></a></li>
            <li><a href="index.html"><i class="icon-inbox"></i><span class="hidden-tablet"> Servicio</span></a></li>	   
            <li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Informes</span><span class="label label-important"> 3 </span></a>
							<ul>
								<li><a class="submenu" href="submenu.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Diarios</span></a></li>
								<li><a class="submenu" href="submenu2.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Mensuales</span></a></li>
								<li><a class="submenu" href="submenu3.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Totales </span></a></li>
							</ul>	
						</li>

					</ul>
  
  {% else %}  
  
    {{ parent() }}

  
  {% endif %}
  {% endblock %}


    {% block infoUserTop %}
<img class="grayscale" src="{{ asset("frontend/img/AUTOLOGO.jpg") }}" alt="Sample Image 1">
    {% endblock %}
