{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}
    <h1>Empleado</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Identificacion</th>
                <td>{{ entity.identificacion }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ entity.genero }}</td>
            </tr>
            <tr>
                <th>Fnacimiento</th>
                <td>{{ entity.fNacimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ entity.celular }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('empleado') }}">
            Volver a la Lista Empleado
        </a>
    </li>
    <li>
        <a href="{{ path('empleado_edit', { 'id': entity.id }) }}">
            Editar Empleado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
