{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block menu %}
  {% if is_granted("ROLE_SUPER_ADMIN") %}
    {{ parent() }}
  {% else %}  
  
        <ul class="nav nav-tabs nav-stacked main-menu">

            <li><a href="{{path('cliente')}}"><i class="icon-user"></i><span class="hidden-tablet"> Cliente</span></a></li>
            <li><a href="index.html"><i class="icon-road"></i><span class="hidden-tablet"> Automotor</span></a></li>
            <li><a href="index.html"><i class="icon-inbox"></i><span class="hidden-tablet"> Servicio</span></a></li>	   
            <li><a href="index.html"><i class="icon-save"></i><span class="hidden-tablet"> Informes</span></a></li>
					</ul>
  
  {% endif %}
  
{% endblock %}



{% block infoUserTop %}
    <h1>Lista de Clientes</h1>
    
 <ul>
        <li>
            <a href="{{ path('cliente_new') }}">
                Crear Cliente
            </a>
        </li>
    </ul>
    
{# {{ app.user.roles|join(', ') }} #}
    
      <table class="table table-striped table-bordered bootstrap-datatable datatable">

        <thead>
            <tr>
                <th>Identificacion</th>
                <th>Nombre</th>
                <th>Genero</th>
                <th>Fnacimiento</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.identificacion }}</td>
                <td>{{ entity.nombre }} {{ entity.apellido }}</td>
                <td>{{ entity.genero }}</td>
                <td>{% if entity.fNacimiento %}{{ entity.fNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.celular }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                <a class="btn btn-success" href="{{ path('cargo_show', { 'id': entity.id }) }}">
                <i class="halflings-icon white zoom-in"></i>  
                </a>
                <a class="btn btn-info" href="{{ path('cargo_edit', { 'id': entity.id }) }}">
                <i class="halflings-icon white edit"></i>  
                </a>
               
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('cliente_new') }}">
                Crear Cliente
            </a>
        </li>
    </ul>
    {% endblock %}
