{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}
    <h1>Servicios</h1>
<ul>
        <li>
            <a href="{{ path('rubro_new') }}">
                Crear Servicio
            </a>
        </li>
    </ul>
    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Valor</th>
                <th>Iva</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('rubro_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.valor }}</td>
                <td>{{ entity.iva }}</td>
                <td>{{ entity.estado }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <a class="btn btn-success" href="{{ path('rubro_show', { 'id': entity.id }) }}">
                <i class="halflings-icon white zoom-in"></i>  
                </a>
                <a class="btn btn-info" href="{{ path('rubro_edit', { 'id': entity.id }) }}">
                <i class="halflings-icon white edit"></i>  
                </a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('rubro_new') }}">
                Crear Servicios
            </a>
        </li>
    </ul>
    {% endblock %}
