{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}
    <h1>Servicio list</h1>
    {# Buscar por Matricula
    <input type="text" id="matricula" name="matricula"> #}
        <div id="informacion">

    <table class="table table-striped table-bordered bootstrap-datatable datatable">

        <thead>
            <tr>
                <th>Id</th>
                <th>Modelo</th>
                <th>Matricula</th>
                <th>Empleado</th>
                <th>Estadoservicio</th>
                <th>Observacion</th>
                <th>Fecha_servicio</th>
                <th>Fecha_entrega</th>
                <th>Pago</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Modelo</th>
                <th>Matricula</th>
                <th>Empleado</th>
                <th>Estadoservicio</th>
                <th>Observacion</th>
                <th>Fecha_servicio</th>
                <th>Fecha_entrega</th>
                <th>Pago</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('servicio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.modelo }}</td>
                <td>{{ entity.matricula }}</td>
                <td>{{ entity.empleado }}</td>
                <td>{{ entity.estado_servicio }}</td>
                <td>{{ entity.observacion }}</td>
                <td>{% if entity.fecha_servicio %}{{ entity.fecha_servicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fecha_entrega %}{{ entity.fecha_entrega|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.pago }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('servicio_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('servicio_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('servicio_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    </div>

    {% endblock %}
