{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}
    <h1>Lista de Automotores</h1>
    <ul>
        <li>
            <a href="{{ path('automotor_new') }}">
                Crear Automotor
            </a>
        </li>
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                
                <th>Modelo</th>
                <th>Matricula</th>
               
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('automotor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                
                <td>{{ entity.modelo }}</td>
                <td>{{ entity.matricula }}</td>
               
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                <a class="btn btn-success" href="{{ path('automotor_show', { 'id': entity.id }) }}">
                <i class="halflings-icon white zoom-in"></i>  
                </a>
                <a class="btn btn-info" href="{{ path('automotor_edit', { 'id': entity.id }) }}">
                <i class="halflings-icon white edit"></i>  
                </a>
               
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('automotor_new') }}">
                Crear Automotor
            </a>
        </li>
    </ul>
    {% endblock %}
